* {
    box-sizing: border-box;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

body {
    margin: 0;
}

#one,
.two,
.three {
    border-radius: 50%;
    position: absolute;
}

.three {
    background-color: rebeccapurple;
    border: 50px solid royalblue;
    height: 100px;
    width: 100px;
    top: 200px;
    left: 200px;

}

.two {
    background-color: green;
    border: 50px solid yellow;
    height: 300px;
    width: 300px;
    top: 100px;
    left: 100px;
}

#one {
    background-color: orange;
    border: 50px solid red;
    height: 500px;
    width: 500px;
}